@if(opciones() == 1){
<div class="container__column container__column--left">
  <div class="container__row">
    <img src="./images/one_click.avif" alt="Imagen fondo" class="container__image">
    <img src="./images/authentication.avif" alt="Imagen Autenticacion" class="container__image">
  </div>
  <div class="container__row">
    <img src="./images/monitor.avif" alt="Imagen Monitor" class="container__image">
    <img src="./images/built.avif" alt="Image degradado" class="container__image">
  </div>
</div>
}
@if(opciones() == 2){
<div class="container__column container__column--right">
  <div class="container__row">
    <img src="./images/fast_storage.avif" alt="Imagen 2TB" class="container__image">
    <img src="./images/intel_quad.avif" alt="Imagen procesador" class="container__image">
  </div>
  <div class="container__row">
    <img src="./images/16Memory.avif" alt="Imagen memoria RAM" class="container__image">
    <img src="./images/activeCooling.avif" alt="Imagen Silent Operation." class="container__image">
  </div>
</div>

}