  <!----FOOTER---->
  <footer class="footer" role="contentinfo">
    <div class="footer__content">
      <div class="footer__card footer__card--community">
        <h2 class="footer__card-title">Community</h2>
        <p class="footer__card-description">
          A place to get your questions answered, and to connect with fellow sovereign individuals.
        </p>
        <a href="#" class="footer__card-link" aria-label="Go to Community">

          <svg class="footer__card__icon" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
            viewBox="0 0 23 22" width="16" height="16" aria-hidden="true" focusable="false">
            <path d="M 16.216 6.416 L 6.923 15.583 M 16.216 6.416 L 7.852 6.416 M 16.216 6.416 L 16.216 14.666"
              fill="transparent" stroke-width="1.16" stroke="hsl(0, 0%, 46%)" stroke-linecap="round"
              stroke-linejoin="round">
            </path>
          </svg>

        </a>
      </div>
      <div class="footer__card footer__card--support">
        <h2 class="footer__card-title">Support</h2>
        <p class="footer__card-description">
          Get help with installing and troubleshooting UmbrelOS and Umbrel Home.
        </p>
        <a href="#" class="footer__card-link" aria-label="Go to Support">
          <svg class="footer__card__icon" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
            viewBox="0 0 23 22" width="16" height="16" aria-hidden="true" focusable="false">
            <path d="M 16.216 6.416 L 6.923 15.583 M 16.216 6.416 L 7.852 6.416 M 16.216 6.416 L 16.216 14.666"
              fill="transparent" stroke-width="1.16" stroke="hsl(0, 0%, 46%)" stroke-linecap="round"
              stroke-linejoin="round">
            </path>
          </svg>
        </a>
      </div>
      <div class="footer__card footer__card--careers">
        <h2 class="footer__card-title">Careers</h2>
        <p class="footer__card-description">
          We're hiring! Join us and shape the future of Umbrel.
        </p>
        <a href="#" class="footer__card-link" aria-label="Go to Careers">
          <svg class="footer__card__icon" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
            viewBox="0 0 23 22" width="16" height="16" aria-hidden="true" focusable="false">
            <path d="M 16.216 6.416 L 6.923 15.583 M 16.216 6.416 L 7.852 6.416 M 16.216 6.416 L 16.216 14.666"
              fill="transparent" stroke-width="1.16" stroke="hsl(0, 0%, 46%)" stroke-linecap="round"
              stroke-linejoin="round">
            </path>
          </svg>
        </a>
      </div>
      <div class="footer__card footer__card--newsletter">
        <h2 class="footer__card-title">Stay in the loop</h2>
        <p class="footer__card-description">
          Follow our journey in enabling sovereign individuals truly own their data. Better yet, be a part of it.
        </p>
        <form class="footer__newsletter-form" action="#" method="post" aria-label="Newsletter form">
          <input type="email" class="footer__newsletter-input" placeholder="Email" aria-label="Enter your email"
            required />
          <button class="footer__newsletter-button" type="submit">Subscribe</button>
        </form>
      </div>
    </div>
    <div class="footer__bottom">
      <div class="footer__social">
        <a href="#" class="footer__social__link" aria-label="Twitter">
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16" width="20" height="20">
            <path fill="#919191"
              d="M5.026 15c6.036 0 9.345-5.02 9.345-9.35 0-.14 0-.28-.01-.42A6.69 6.69 0 0 0 16 3.29a6.56 6.56 0 0 1-1.889.518A3.289 3.289 0 0 0 15.557.1a6.567 6.567 0 0 1-2.087.797 3.28 3.28 0 0 0-5.595 2.99 9.322 9.322 0 0 1-6.762-3.424 3.282 3.282 0 0 0 1.016 4.384A3.285 3.285 0 0 1 .64 7.77v.04a3.28 3.28 0 0 0 2.63 3.216 3.283 3.283 0 0 1-1.485.056 3.281 3.281 0 0 0 3.063 2.28A6.577 6.577 0 0 1 0 13.89a9.331 9.331 0 0 0 5.026 1.48" />
          </svg>
        </a>
        <a href="#" class="footer__social__link" aria-label="Discord">
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="20" height="20">
            <g fill="#919191">
              <path
                d="M19 3H5c-1.1 0-1.99.9-1.99 2L3 17c0 1.1.89 2 1.99 2h14c1.1 0 1.99-.9 1.99-2L21 5c0-1.1-.89-2-1.99-2zM5 5h14c.55 0 1 .45 1 1v1h-2V6h-3v1h-2V6H8v1H6V6c0-.55.45-1 1-1zm0 14V9h14v10H5z" />
            </g>
          </svg>

        </a>
        <a href="#" class="footer__social__link" aria-label="GitHub">
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16" width="20" height="20">
            <path fill="#919191"
              d="M8 0C3.58 0 0 3.58 0 8c0 3.53 2.29 6.53 5.47 7.59.4.08.55-.17.55-.37 0-.18-.01-.74-.02-1.33-2.22.48-2.68-.73-2.68-.73-.36-.91-.87-1.16-.87-1.16-.71-.48.05-.47.05-.47.78.05 1.19.79 1.19.79.7 1.18 1.84.84 2.28.64.07-.51.27-.84.5-1.03-1.77-.2-3.64-.89-3.64-3.97 0-.88.31-1.6.82-2.17-.08-.2-.36-1.03.08-2.12 0 0 .68-.22 2.22.84.64-.18 1.32-.27 1.99-.27s1.35.09 1.99.27c1.54-1.06 2.22-.84 2.22-.84.44 1.09.16 1.92.08 2.12.51.57.82 1.29.82 2.17 0 3.08-1.87 3.77-3.64 3.97.28.24.53.72.53 1.44 0 1.04-.01 1.88-.02 2.13 0 .2.15.46.55.37 3.18-1.06 5.47-4.06 5.47-7.59 0-4.42-3.58-8-8-8z" />
          </svg>
        </a>
      </div>

      <div class="footer__links">
        @for (item of footerItems(); track $index) {
            <a (click)="handleClick(item)" href="#" class="footer__link">{{item}}</a>
    }
      </div>
    </div>
  </footer>
