<div class="slider">
    <div class="slider__text">
      <p>What can I do with umbrelOS?</p>
      <h3>The superpowers are <span>endlessssssssss</span></h3>
    </div>
    <div class="slider__container" hidden="true">
      <button class="slider__arrow slider__arrow__left">&lt;</button>
      <div class="slider__track">
        <!-- Cards -->
        <div class="slider__card">
          <div class="slider__icon">
            <img src="./images/icon1.png" alt="Icon 1">
          </div>
          <div class="slider__content">
            <h4>Stream your movies & TV shows</h4>
            <p>Stream the movies and TV shows you download on your umbrelOS...</p>
            <img src="./images/image1.png" alt="Card Image 1" class="slider__image">
          </div>
        </div>
        <div class="slider__card">
          <div class="slider__icon">
            <img src="./images/icon2.png" alt="Icon 2">
          </div>
          <div class="slider__content">
            <h4>Block ads on your entire network</h4>
            <p>Get Pi-hole on your Umbrel and your entire network gets rid...</p>
            <img src="./images/image2.png" alt="Card Image 2" class="slider__image">
          </div>
        </div>
        <!-- Repeat cards as needed -->
      </div>
      <button class="slider__arrow slider__arrow__right">&gt;</button>
    </div>
  </div>