<div class="background__footer">
    <div class="background__buttons">
      <button class="btn">Browse Umbrel App Store</button>
      <button class="btn">Launch Your Own App</button>
    </div>

    <section class="carousel">
      <div class="carousel__track">
          <img src="./images/icons/gafas.avif" alt="Imagen ave con gafas">
          <img src="./images/icons/bitcoin.avif" alt="Imagen de Bitcoin">
          <img src="./images/icons/flash.avif" alt="Imagen de Flash">
          <img src="./images/icons/torq.png" alt="Imagen de Torq">
          <img src="./images/icons/plex4.png" alt="Imagen de Plex">
          <img src="./images/icons/samourai.jpg" alt="Imagen de Samourai">
          <img src="./images/icons/simpleTorrent.svg" alt="Imagen de Simple Torrent">
          <img src="./images/icons/ghosfosio.png" alt="Imagen de Goshfosio">
          <img src="./images/icons/shell.jpg" alt="Imagen de Shell">
          <img src="./images/icons/gafas.avif" alt="Imagen ave con gafas">
          <img src="./images/icons/bitcoin.avif" alt="Imagen de Bitcoin">
          <img src="./images/icons/samourai.jpg" alt="Imagen de Samourai">
          <img src="./images/icons/simpleTorrent.svg" alt="Imagen de Simple Torrent">
          <img src="./images/icons/ghosfosio.png" alt="Imagen de Goshfosio">
          <img src="./images/icons/shell.jpg" alt="Imagen de Shell">
          <img src="./images/icons/gafas.avif" alt="Imagen ave con gafas">
          <img src="./images/icons/bitcoin.avif" alt="Imagen de Bitcoin">
          <img src="./images/icons/gafas.avif" alt="Imagen ave con gafas">
          <img src="./images/icons/bitcoin.avif" alt="Imagen de Bitcoin">
          <img src="./images/icons/shell.jpg" alt="Imagen de Shell">
          <img src="./images/icons/ghostrider.jpg" alt="Imagen de ghostrider">
      </div>
    </section>
    <section class="carousel">
      <div class="carousel__track__reverse">
        <img src="./images/icons/gafas.avif" alt="Imagen ave con gafas">
        <img src="./images/icons/bitcoin.avif" alt="Imagen de Bitcoin">
        <img src="./images/icons/flash.avif" alt="Imagen de Flash">
        <img src="./images/icons/torq.png" alt="Imagen de Torq">
        <img src="./images/icons/plex4.png" alt="Imagen de Plex">
        <img src="./images/icons/samourai.jpg" alt="Imagen de Samourai">
        <img src="./images/icons/simpleTorrent.svg" alt="Imagen de Simple Torrent">
        <img src="./images/icons/ghosfosio.png" alt="Imagen de Goshfosio">
        <img src="./images/icons/shell.jpg" alt="Imagen de Shell">
        <img src="./images/icons/gafas.avif" alt="Imagen ave con gafas">
        <img src="./images/icons/bitcoin.avif" alt="Imagen de Bitcoin">
        <img src="./images/icons/samourai.jpg" alt="Imagen de Samourai">
        <img src="./images/icons/simpleTorrent.svg" alt="Imagen de Simple Torrent">
        <img src="./images/icons/ghosfosio.png" alt="Imagen de Goshfosio">
        <img src="./images/icons/shell.jpg" alt="Imagen de Shell">
        <img src="./images/icons/gafas.avif" alt="Imagen ave con gafas">
        <img src="./images/icons/bitcoin.avif" alt="Imagen de Bitcoin">
        <img src="./images/icons/gafas.avif" alt="Imagen ave con gafas">
        <img src="./images/icons/bitcoin.avif" alt="Imagen de Bitcoin">
        <img src="./images/icons/shell.jpg" alt="Imagen de Shell">
        <img src="./images/icons/ghostrider.jpg" alt="Imagen de ghostrider">
      </div>
    </section>
  </div>
