/* You can add global styles to this file, and also import other style files */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-family: Inter Tight, Helvetica, Segoe UI, Arial, sans-serif;
}

@font-face {
  font-family: "Inter Tight";
  font-style: normal;
  font-weight: 500;
  src: url("/assets/fonts/NGSnv5HMAFg6IuGlBNMjxJEL2VmU3NS7Z2mjPQ-aWy5S.woff2")
    format("woff2");
}
