@use "../../ui/styles/mixins.scss" as mixins;
.hero {
  background-color: black;
  width: 100%;
  @include mixins.container(center);
  text-align: center;

  &__data {
    color: #ffff;
    margin: 0 auto;
    width: 100%;
    @include mixins.container(center);
    padding-top: 70px;
  }

  &__data h1 {
    font-size: 50px;
    font-weight: 600;
    letter-spacing: 2px;
  }

  &__data h4 {
    margin-top: 7px;
    font-size: 20px;
    color: #a09ba8;
    letter-spacing: 1px;
    font-weight: 400;
  }

  &__span {
    background-image: conic-gradient(
      from 353deg at 50% 59%,
      rgb(103, 92, 255) 103.695deg,
      rgb(255, 0, 230) 360deg
    );
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  &__content {
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    width: 85%;
    margin: 0 auto;
  }
}

.container {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin: 0 auto;
  max-width: 1400px;
  margin-top: 20px;
}

/* ESTILOS PARA EL BACKGROUND */
.background {
  background: url("/images/fondo_azul.avif") no-repeat center center/cover;
  height: 1200px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 2rem 0;
}
