@if(lista()==1){
<div class="hero__container">
  <div class="hero__image">
    <img src="./images/image-tablet.avif" alt="tablet-image" class="hero__image__tablet">
    <img src="./images/image-phone.avif" alt="phone-image" class="hero__image__phone">
  </div>
  <div class="hero__description">
    <h2>umbrelOS</h2>
    <p class="hero__description__p">The ultimate OS for running your own home cloud.</p>
    <a href="#">Learn more</a>
  </div>
</div>
}

@if(lista()==2){
<div class="hero__container">
  <div class="hero__image">
    <img src="./images/image-centrald.avif" alt="server-home-icon" class="hero__image__server1">
    <img src="./images/image-centrald.avif" alt="server-home-icon" class="hero__image__server2">
  </div>
  <div class="hero__description">
    <h2>Umbrel Home</h2>
    <p>Plug-and-play umbrelOS home cloud server.</p>
    <div class="hero__description__button">
      <a href="#" class="hero__description__button hero__description__button--modifier">Buy for $245</a>
      <a href="#">Learn more</a>
    </div>
  </div>
</div>

}